#about-me{
    background-image: url("about_me_background_image.jpg");
    background-color: darkblue;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

#text-about-me{
    font-size:15pt;
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

#my-photo{
    text-align: center
}

#js-progress-bar{
    width: 60%
}

#html-progress-bar{
    width: 70%
}

#cpp-progress-bar{
    width: 70%
}

#c-progress-bar{
    width: 60%
}
 
#contact{
    font-family: "Franklin Gothic"
}

.white-link{
    color: white
}
